@charset "UTF-8";
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../scss/fletch/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../scss/fletch/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/fletch/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../scss/fletch/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 64, ../scss/fletch/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 74, ../scss/fletch/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 86, ../scss/fletch/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../scss/fletch/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 108, ../scss/fletch/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 117, ../scss/fletch/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../scss/fletch/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 134, ../scss/fletch/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 142, ../scss/fletch/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 152, ../scss/fletch/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 164, ../scss/fletch/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 173, ../scss/fletch/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 181, ../scss/fletch/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 189, ../scss/fletch/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../scss/fletch/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 205, ../scss/fletch/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 209, ../scss/fletch/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 221, ../scss/fletch/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 229, ../scss/fletch/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 241, ../scss/fletch/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 253, ../scss/fletch/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 264, ../scss/fletch/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 278, ../scss/fletch/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../scss/fletch/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../scss/fletch/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 317, ../scss/fletch/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../scss/fletch/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../scss/fletch/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 348, ../scss/fletch/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 361, ../scss/fletch/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../scss/fletch/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 380, ../scss/fletch/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 393, ../scss/fletch/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar {
  display: block;
  z-index: 10;
  position: fixed;
  top: 0;
  min-height: 3.3em;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #bbb;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
/* line 13, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-menu {
  margin-top: 1em;
}
/* line 17, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-notification {
  margin-top: 1em;
  display: none;
}
/* line 22, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-publishing {
  float: right;
  display: none;
  width: 13.5em;
  margin-top: 0.75em;
  margin-left: 0.6em;
}
/* line 29, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-publishing form {
  display: inline-block;
  width: 49%;
  border: none;
  padding: 0;
  margin: 0;
}
/* line 36, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-publishing form input {
  width: 100%;
}
/* line 42, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-publish {
  margin-right: 0.5em;
}
/* line 46, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-tiny-button {
  font-size: 0.85em;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  text-decoration: none;
  color: #a1a1a1;
  padding: 0.25em 0.5em;
  transition: background-color 100ms;
  -moz-transition: background-color 100ms;
  /* Firefox 4 */
  -webkit-transition: background-color 100ms;
  /* Safari and Chrome */
  -o-transition: background-color 100ms;
  /* Opera */
  transition: color 100ms;
  -moz-transition: color 100ms;
  /* Firefox 4 */
  -webkit-transition: color 100ms;
  /* Safari and Chrome */
  -o-transition: color 100ms;
  /* Opera */
}
/* line 56, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-tiny-button:before {
  margin-right: 0.4em;
}
/* line 60, ../scss/fletch/_ui.controlbar.scss */
.fl-control-bar .fl-tiny-button:hover {
  color: #ffffff;
  background-color: #a1a1a1;
}

/* line 67, ../scss/fletch/_ui.controlbar.scss */
.fl-top-spacing {
  height: 3.3em;
  width: 100%;
}

/* line 1, ../scss/fletch/_ui.creator.scss */
.fl-creator {
  font-size: 0.65em;
  border: 1px solid #a1a1a1;
  border-radius: 3px;
  text-decoration: none;
  display: block;
  margin-bottom: 1em;
  padding-left: 1em;
  color: #a1a1a1;
  padding: 0.25em 0.45em 0.25em 0.05em;
  transition: background-color 100ms;
  -moz-transition: background-color 100ms;
  /* Firefox 4 */
  -webkit-transition: background-color 100ms;
  /* Safari and Chrome */
  -o-transition: background-color 100ms;
  /* Opera */
  transition: color 100ms;
  -moz-transition: color 100ms;
  /* Firefox 4 */
  -webkit-transition: color 100ms;
  /* Safari and Chrome */
  -o-transition: color 100ms;
  /* Opera */
}
/* line 14, ../scss/fletch/_ui.creator.scss */
.fl-creator:hover {
  color: #ffffff;
  background-color: #a1a1a1;
}

/* line 20, ../scss/fletch/_ui.creator.scss */
.fl-region-list {
  list-style: none !important;
  margin: 0;
  padding: 0;
  min-height: 10px;
  position: relative;
}
/* line 27, ../scss/fletch/_ui.creator.scss */
.fl-region-list li {
  position: relative;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

/*      Jquery Dropdowns          */
/*////////////////////////////////*/
/* line 4, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown {
  position: absolute;
  z-index: 9999999;
  display: none;
}

/* line 11, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu,
.fl-dropdown .fl-dropdown-panel {
  min-width: 160px;
  max-width: 360px;
  list-style: none;
  background: #FFF;
  border: solid 1px #DDD;
  border: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}

/* line 26, ../scss/fletch/_ui.dropdown.scss */
ul.fl-dropdown-menu li a:before {
  margin-right: 0.8em;
  margin-left: 0;
}

/* line 33, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-panel {
  padding: 10px;
}

/* line 37, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-tip {
  margin-top: 8px;
}

/* line 41, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

/* line 53, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-tip.fl-dropdown-anchor-right:before {
  left: auto;
  right: 9px;
}

/* line 58, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

/* line 69, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-tip.fl-dropdown-anchor-right:after {
  left: auto;
  right: 10px;
}

/* line 76, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.fl-dropdown-scroll .fl-dropdown-menu,
.fl-dropdown.fl-dropdown-scroll .fl-dropdown-panel {
  max-height: 358px;
  overflow: auto;
}

/* line 81, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu LI {
  list-style: none;
  padding: 0 0;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #d7d7d7;
}

/* line 89, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu LI:last-child {
  border-bottom: 0;
}

/* line 94, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu LI > A,
.fl-dropdown .fl-dropdown-menu LABEL {
  display: block;
  color: #555;
  text-decoration: none;
  line-height: 2em;
  padding: 3px 15px;
  white-space: nowrap;
}

/* line 104, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu LI > A:hover,
.fl-dropdown .fl-dropdown-menu LABEL:hover {
  background-color: #08C;
  color: #FFF;
  cursor: pointer;
}

/* line 110, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .fl-dropdown-menu .fl-dropdown-divider {
  font-size: 1px;
  border-top: solid 1px #E5E5E5;
  padding: 0;
  margin: 5px 0;
}

/* Icon Examples - icons courtesy of http://p.yusukekamiyamane.com/ */
/* line 118, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown.has-icons LI > A {
  padding-left: 30px;
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* line 124, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .undo A {
  background-image: url(icons/arrow-curve-180-left.png);
}

/* line 125, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .redo A {
  background-image: url(icons/arrow-curve.png);
}

/* line 126, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .cut A {
  background-image: url(icons/scissors.png);
}

/* line 127, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .copy A {
  background-image: url(icons/document-copy.png);
}

/* line 128, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .paste A {
  background-image: url(icons/clipboard.png);
}

/* line 129, ../scss/fletch/_ui.dropdown.scss */
.fl-dropdown .delete A {
  background-image: url(icons/cross-script.png);
}

/* line 1, ../scss/fletch/_ui.elementcontrols.scss */
.fl-element-controls {
  opacity: 0.85;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 85 ")";
  filter: alpha(opacity=85);
  zoom: 1;
  z-index: 999;
  display: none;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a1a1a1;
  color: #ffffff;
}
/* line 14, ../scss/fletch/_ui.elementcontrols.scss */
.fl-element-controls:hover {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 100 ")";
  filter: alpha(opacity=100);
  zoom: 1;
}
/* line 18, ../scss/fletch/_ui.elementcontrols.scss */
.fl-element-controls span.move {
  display: inline-block;
  cursor: move;
  margin: 0.2em 0 0.2em 0.2em;
}
/* line 24, ../scss/fletch/_ui.elementcontrols.scss */
.fl-element-controls span.delete {
  display: inline-block;
  cursor: pointer;
  margin: 0.2em 0.3em 0.2em 0;
}
/* line 30, ../scss/fletch/_ui.elementcontrols.scss */
.fl-element-controls span.edit {
  cursor: pointer;
  margin: 0.2em 0 0.2em 0.2em;
  display: none;
}

/* line 42, ../scss/fletch/_ui.elementcontrols.scss */
figure.gallery ~ .fl-element-controls span.edit,
nav.sub-navigation ~ .fl-element-controls span.edit {
  display: inline-block !important;
}

/* 
    Hide the original radios and checkboxes
    (but still accessible)
    
    :not(#incompatible) > is a rule filter to block browsers
                 that don't support that selector from
                 applying rules they shouldn't
       
*/
/* line 11, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout {
  /* Hide the input, but have it still be clickable */
  opacity: 0;
  float: left;
  width: 1px;
}

/* line 19, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout + label {
  transition: border 150ms;
  -moz-transition: border 150ms;
  /* Firefox 4 */
  -webkit-transition: border 150ms;
  /* Safari and Chrome */
  -o-transition: border 150ms;
  /* Opera */
  margin: 0 1em 0.25em 0;
  clear: none;
  display: block;
  width: 172px;
  height: 132px;
  float: left;
  text-align: center;
  /* Left padding makes room for image */
  padding: 6px;
  /* Make look clickable because they are */
  cursor: pointer;
  border: 1px solid #c7c7c7;
}

/*
    Change from unchecked to checked graphic
*/
/* line 41, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout:hover + label {
  border: 1px solid #a1a1a1;
}

/*
    Change from unchecked to checked graphic
*/
/* line 49, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout:checked + label {
  border: 1px solid #bd0000;
  -webkit-box-shadow: 0 0 8px #bd0000, 0 0px 12px #bd0000;
  -moz-box-shadow: 0 0 8px #bd0000, 0 0px 12px #bd0000;
  box-shadow: 0 0 8px #bd0000, 0 0px 12px #bd0000;
}

/* line 60, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-single + label {
  background: url("/img/icon-layout-twocol-single.png") center center no-repeat;
}

/* line 64, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-double + label {
  background: url("/img/icon-layout-twocol-double.png") center center no-repeat;
}

/* line 68, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout.fl-twocol-triple + label {
  background: url("/img/icon-layout-twocol-triple.png") center center no-repeat;
}

/* line 72, ../scss/fletch/_ui.layouts.scss */
.fl-layouts:not(#incompatible) > .fl-layout.fl-fourcol-single + label {
  background: url("/img/icon-layout-fourcol-single.png") center center no-repeat;
}

/* line 4, ../scss/fletch/_ui.modals.scss */
.fl-modal i {
  float: left;
  font-size: 3em;
  margin: 16px 7px 0 0;
  vertical-align: middle;
}
/* line 11, ../scss/fletch/_ui.modals.scss */
.fl-modal input {
  margin-top: 2em;
}

/* line 1, ../scss/fletch/_ui.panel.scss */
.fl-panel-matte {
  z-index: 11;
  position: fixed;
  margin: 0 auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: none;
}

/* line 14, ../scss/fletch/_ui.panel.scss */
.fl-panel {
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.85);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9FFFFFF,endColorstr=#D9FFFFFF);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D9FFFFFF,endColorstr=#D9FFFFFF)";
  zoom: 1;
  border-top: #d3d3d3 solid 3px;
  bottom: 0;
  display: none;
  height: 22em;
  left: 0;
  margin: 0 auto;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  right: 0;
  z-index: 12;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  -webkit-transform: translateZ(0);
}
/* line 35, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-label {
  font-weight: 400;
  font-size: 1.15em;
  margin-top: 0.65em;
  margin-bottom: 0.45em;
}
/* line 42, ../scss/fletch/_ui.panel.scss */
.fl-panel form {
  margin: 0;
  padding: 0;
}
/* line 47, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-panel-title {
  text-align: center;
}
/* line 49, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-panel-title p {
  display: inline-block;
  margin-right: 1em;
}
/* line 55, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-panel-halfcol {
  width: 48%;
  margin: 0;
  display: inline-block;
  float: left;
}
/* line 61, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-panel-halfcol .fl-label {
  margin-top: 0;
}
/* line 65, ../scss/fletch/_ui.panel.scss */
.fl-panel .fl-panel-halfcol:nth-of-type(1) {
  margin-right: 4%;
}

/* line 71, ../scss/fletch/_ui.panel.scss */
.fl-panel-route {
  display: inline-block;
  width: 100%;
}
/* line 75, ../scss/fletch/_ui.panel.scss */
.fl-panel-route .fl-panel-route-base {
  margin: 0;
  border-width: 1px;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  background-color: #a1a1a1;
  color: #ffffff;
  font-size: 0.875em;
  margin-bottom: 1em;
  display: inline-block;
  width: 56%;
  text-align: right;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
}
/* line 95, ../scss/fletch/_ui.panel.scss */
.fl-panel-route .fl-panel-route-href {
  margin-left: 0;
  margin-right: 0;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
  width: 40%;
  min-width: 2em;
}

/* line 106, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility {
  position: relative;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* line 113, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-checkbox {
  display: none;
}

/* line 116, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFF;
  border-radius: 11px;
}

/* line 120, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-inner {
  width: 200%;
  margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

/* line 125, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-inner:before, .fl-panel-visibility-inner:after {
  float: left;
  width: 50%;
  padding: 0;
  line-height: 2em;
  font-size: 1em;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 138, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-inner:before {
  content: "Show";
  padding-left: 21px;
  background-color: #bd0000;
  color: #FFFFFF;
}

/* line 144, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-inner:after {
  content: "Hide";
  padding-right: 21px;
  background-color: #acacac;
  color: #fff;
  text-align: right;
}

/* line 151, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-switch {
  color: #fff;
  line-height: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80%;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}
/* line 162, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-switch:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  content: '\e82d';
}

/* line 171, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-checkbox:checked + .fl-panel-visibility-label .fl-panel-visibility-inner {
  margin-left: 0;
}

/* line 175, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-checkbox:checked + .fl-panel-visibility-label .fl-panel-visibility-switch {
  right: 4%;
}
/* line 178, ../scss/fletch/_ui.panel.scss */
.fl-panel-visibility-checkbox:checked + .fl-panel-visibility-label .fl-panel-visibility-switch:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  content: '\e81f';
}

/* line 1, ../scss/fletch/_ui.reposition.scss */
.fl-reposition-placeholder {
  display: inline-block !important;
  background-color: #d7d7d7;
}

/* line 8, ../scss/fletch/_ui.reposition.scss */
.fl-reposition li {
  -webkit-transition: -webkit-transform .1s ease-out;
  -moz-transition: -moz-transform .1s ease-out;
  -o-transition: -o-transform .1s ease-out;
  transition: transform .1s ease-out;
}

/* line 16, ../scss/fletch/_ui.reposition.scss */
.fl-reposition-helper {
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-animation: bounce 100ms forwards;
  /* Safari 4+ */
  -moz-animation: bounce 100ms forwards;
  /* Fx 5+ */
  -o-animation: bounce 100ms forwards;
  /* Opera 12+ */
  animation: bounce 100ms forwards;
  /* IE 10+ */
  margin: 0 !important;
  padding: 0 !important;
}

/* line 35, ../scss/fletch/_ui.reposition.scss */
.fl-region-list {
  min-height: 1em;
}

@keyframes bounce {
  /* line 40, ../scss/fletch/_ui.reposition.scss */
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -moz-transform: scale(1);
    /* Firefox */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
  }

  /* line 47, ../scss/fletch/_ui.reposition.scss */
  90% {
    transform: scale(1.065);
    -ms-transform: scale(1.065);
    /* IE 9 */
    -moz-transform: scale(1.065);
    /* Firefox */
    -webkit-transform: scale(1.065);
    /* Safari and Chrome */
    -o-transform: scale(1.065);
    /* Opera */
  }

  /* line 54, ../scss/fletch/_ui.reposition.scss */
  to {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -moz-transform: scale(1.05);
    /* Firefox */
    -webkit-transform: scale(1.05);
    /* Safari and Chrome */
    -o-transform: scale(1.05);
    /* Opera */
  }
}

@-webkit-keyframes bounce {
  /* line 64, ../scss/fletch/_ui.reposition.scss */
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    /* IE 9 */
    -moz-transform: scale(1);
    /* Firefox */
    -webkit-transform: scale(1);
    /* Safari and Chrome */
    -o-transform: scale(1);
    /* Opera */
  }

  /* line 71, ../scss/fletch/_ui.reposition.scss */
  90% {
    transform: scale(1.065);
    -ms-transform: scale(1.065);
    /* IE 9 */
    -moz-transform: scale(1.065);
    /* Firefox */
    -webkit-transform: scale(1.065);
    /* Safari and Chrome */
    -o-transform: scale(1.065);
    /* Opera */
  }

  /* line 78, ../scss/fletch/_ui.reposition.scss */
  to {
    transform: scale(1.05);
    -ms-transform: scale(1.05);
    /* IE 9 */
    -moz-transform: scale(1.05);
    /* Firefox */
    -webkit-transform: scale(1.05);
    /* Safari and Chrome */
    -o-transform: scale(1.05);
    /* Opera */
  }
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?18088188");
  src: url("../font/fontello.eot?18088188#iefix") format("embedded-opentype"), url("../font/fontello.woff?18088188") format("woff"), url("../font/fontello.ttf?18088188") format("truetype"), url("../font/fontello.svg?18088188#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?18088188#fontello') format('svg');
  }
}
*/
/* line 22, ../scss/fletch/vendors/_fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 53, ../scss/fletch/vendors/_fontello.scss */
.icon-spin:before {
  content: '\e806';
}

/* '' */
/* line 54, ../scss/fletch/vendors/_fontello.scss */
.icon-attention:before {
  content: '\e825';
}

/* '' */
/* line 55, ../scss/fletch/vendors/_fontello.scss */
.icon-menu:before {
  content: '\e80f';
}

/* '' */
/* line 56, ../scss/fletch/vendors/_fontello.scss */
.icon-cog:before {
  content: '\e807';
}

/* '' */
/* line 57, ../scss/fletch/vendors/_fontello.scss */
.icon-cogs:before {
  content: '\e808';
}

/* '' */
/* line 58, ../scss/fletch/vendors/_fontello.scss */
.icon-wrench:before {
  content: '\e800';
}

/* '' */
/* line 59, ../scss/fletch/vendors/_fontello.scss */
.icon-resize-full:before {
  content: '\e831';
}

/* '' */
/* line 60, ../scss/fletch/vendors/_fontello.scss */
.icon-left:before {
  content: '\e80a';
}

/* '' */
/* line 61, ../scss/fletch/vendors/_fontello.scss */
.icon-right:before {
  content: '\e809';
}

/* '' */
/* line 62, ../scss/fletch/vendors/_fontello.scss */
.icon-up:before {
  content: '\e80b';
}

/* '' */
/* line 63, ../scss/fletch/vendors/_fontello.scss */
.icon-down:before {
  content: '\e80c';
}

/* '' */
/* line 64, ../scss/fletch/vendors/_fontello.scss */
.icon-sitemap:before {
  content: '\e830';
}

/* '' */
/* line 65, ../scss/fletch/vendors/_fontello.scss */
.icon-info:before {
  content: '\e82f';
}

/* '' */
/* line 66, ../scss/fletch/vendors/_fontello.scss */
.icon-lock:before {
  content: '\e818';
}

/* '' */
/* line 67, ../scss/fletch/vendors/_fontello.scss */
.icon-trash:before {
  content: '\e82e';
}

/* '' */
/* line 68, ../scss/fletch/vendors/_fontello.scss */
.icon-down-open:before {
  content: '\e801';
}

/* '' */
/* line 69, ../scss/fletch/vendors/_fontello.scss */
.icon-left-open:before {
  content: '\e802';
}

/* '' */
/* line 70, ../scss/fletch/vendors/_fontello.scss */
.icon-right-open:before {
  content: '\e804';
}

/* '' */
/* line 71, ../scss/fletch/vendors/_fontello.scss */
.icon-up-open:before {
  content: '\e80d';
}

/* '' */
/* line 72, ../scss/fletch/vendors/_fontello.scss */
.icon-globe:before {
  content: '\e817';
}

/* '' */
/* line 73, ../scss/fletch/vendors/_fontello.scss */
.icon-gplus:before {
  content: '\e803';
}

/* '' */
/* line 74, ../scss/fletch/vendors/_fontello.scss */
.icon-pinterest:before {
  content: '\e810';
}

/* '' */
/* line 75, ../scss/fletch/vendors/_fontello.scss */
.icon-linkedin:before {
  content: '\e811';
}

/* '' */
/* line 76, ../scss/fletch/vendors/_fontello.scss */
.icon-skype:before {
  content: '\e815';
}

/* '' */
/* line 77, ../scss/fletch/vendors/_fontello.scss */
.icon-twitter:before {
  content: '\e813';
}

/* '' */
/* line 78, ../scss/fletch/vendors/_fontello.scss */
.icon-youtube:before {
  content: '\e812';
}

/* '' */
/* line 79, ../scss/fletch/vendors/_fontello.scss */
.icon-vimeo:before {
  content: '\e814';
}

/* '' */
/* line 80, ../scss/fletch/vendors/_fontello.scss */
.icon-email:before {
  content: '\e816';
}

/* '' */
/* line 81, ../scss/fletch/vendors/_fontello.scss */
.icon-ok:before {
  content: '\e80e';
}

/* '' */
/* line 82, ../scss/fletch/vendors/_fontello.scss */
.icon-facebook:before {
  content: '\e81b';
}

/* '' */
/* line 83, ../scss/fletch/vendors/_fontello.scss */
.icon-facebook-rounded:before {
  content: '\e805';
}

/* '' */
/* line 84, ../scss/fletch/vendors/_fontello.scss */
.icon-vimeo-rounded:before {
  content: '\e81a';
}

/* '' */
/* line 85, ../scss/fletch/vendors/_fontello.scss */
.icon-googleplus-rounded:before {
  content: '\e81d';
}

/* '' */
/* line 86, ../scss/fletch/vendors/_fontello.scss */
.icon-linkedin-rounded:before {
  content: '\e81c';
}

/* '' */
/* line 87, ../scss/fletch/vendors/_fontello.scss */
.icon-video:before {
  content: '\e0e9';
}

/* '' */
/* line 88, ../scss/fletch/vendors/_fontello.scss */
.icon-picture:before {
  content: '\e060';
}

/* '' */
/* line 89, ../scss/fletch/vendors/_fontello.scss */
.icon-collage:before {
  content: '\e81e';
}

/* '' */
/* line 90, ../scss/fletch/vendors/_fontello.scss */
.icon-plus:before {
  content: '\e05a';
}

/* '' */
/* line 91, ../scss/fletch/vendors/_fontello.scss */
.icon-eye:before {
  content: '\e81f';
}

/* '' */
/* line 92, ../scss/fletch/vendors/_fontello.scss */
.icon-eye-off:before {
  content: '\e82d';
}

/* '' */
/* line 93, ../scss/fletch/vendors/_fontello.scss */
.icon-tag:before {
  content: '\e82b';
}

/* '' */
/* line 94, ../scss/fletch/vendors/_fontello.scss */
.icon-tags:before {
  content: '\e82c';
}

/* '' */
/* line 95, ../scss/fletch/vendors/_fontello.scss */
.icon-pencil:before {
  content: '\e068';
}

/* '' */
/* line 96, ../scss/fletch/vendors/_fontello.scss */
.icon-edit-alt:before {
  content: '\e82a';
}

/* '' */
/* line 97, ../scss/fletch/vendors/_fontello.scss */
.icon-trash-1:before {
  content: '\e01b';
}

/* '' */
/* line 98, ../scss/fletch/vendors/_fontello.scss */
.icon-doc-new:before {
  content: '\e829';
}

/* '' */
/* line 99, ../scss/fletch/vendors/_fontello.scss */
.icon-move:before {
  content: '\e074';
}

/* '' */
/* line 100, ../scss/fletch/vendors/_fontello.scss */
.icon-play:before {
  content: '\e828';
}

/* '' */
/* line 101, ../scss/fletch/vendors/_fontello.scss */
.icon-play-circled-solid:before {
  content: '\e827';
}

/* '' */
/* line 102, ../scss/fletch/vendors/_fontello.scss */
.icon-play-circled:before {
  content: '\e826';
}

/* '' */
/* line 103, ../scss/fletch/vendors/_fontello.scss */
.icon-align-left:before {
  content: '\e0d7';
}

/* '' */
/* line 104, ../scss/fletch/vendors/_fontello.scss */
.icon-facebook-metro:before {
  content: '\e821';
}

/* '' */
/* line 105, ../scss/fletch/vendors/_fontello.scss */
.icon-googleplus:before {
  content: '\e822';
}

/* '' */
/* line 106, ../scss/fletch/vendors/_fontello.scss */
.icon-linkedin-metro:before {
  content: '\e823';
}

/* '' */
/* line 107, ../scss/fletch/vendors/_fontello.scss */
.icon-vimeo-metro:before {
  content: '\e820';
}

/* '' */
/* line 108, ../scss/fletch/vendors/_fontello.scss */
.icon-ok-creative:before {
  content: '\e824';
}

/* '' */
/* line 109, ../scss/fletch/vendors/_fontello.scss */
.icon-dropbox:before {
  content: '\e819';
}

/* '' */
/*
   Animation example, for spinners
*/
/* line 114, ../scss/fletch/vendors/_fontello.scss */
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}

@-moz-keyframes spin {
  /* line 122, ../scss/fletch/vendors/_fontello.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 129, ../scss/fletch/vendors/_fontello.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 137, ../scss/fletch/vendors/_fontello.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 144, ../scss/fletch/vendors/_fontello.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 152, ../scss/fletch/vendors/_fontello.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 159, ../scss/fletch/vendors/_fontello.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 167, ../scss/fletch/vendors/_fontello.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 174, ../scss/fletch/vendors/_fontello.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 182, ../scss/fletch/vendors/_fontello.scss */
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 189, ../scss/fletch/vendors/_fontello.scss */
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/*! jQuery UI - v1.10.2 - 2013-04-01
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.resizable.css, jquery.ui.button.css, jquery.ui.dialog.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */
/* Layout helpers
----------------------------------*/
/* line 9, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-hidden {
  display: none;
}

/* line 12, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 22, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}

/* line 33, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

/* line 38, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-clearfix:after {
  clear: both;
}

/* line 41, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-clearfix {
  min-height: 0;
  /* support: IE7 */
}

/* line 44, ../scss/fletch/vendors/_jqueryui.scss */
.ui-helper-zfix {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  filter: Alpha(Opacity=0);
}

/* line 54, ../scss/fletch/vendors/_jqueryui.scss */
.ui-front {
  z-index: 100;
}

/* Interaction Cues
----------------------------------*/
/* line 61, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-disabled {
  cursor: default !important;
}

/* Icons
----------------------------------*/
/* states and images */
/* line 70, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/
/* Overlays */
/* line 82, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 89, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable {
  position: relative;
}

/* line 92, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
}

/* line 98, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

/* line 101, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-n {
  cursor: n-resize;
  height: 7px;
  width: 100%;
  top: -5px;
  left: 0;
}

/* line 108, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-s {
  cursor: s-resize;
  height: 7px;
  width: 100%;
  bottom: -5px;
  left: 0;
}

/* line 115, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-e {
  cursor: e-resize;
  width: 7px;
  right: -5px;
  top: 0;
  height: 100%;
}

/* line 122, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-w {
  cursor: w-resize;
  width: 7px;
  left: -5px;
  top: 0;
  height: 100%;
}

/* line 129, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-se {
  cursor: se-resize;
  width: 12px;
  height: 12px;
  right: 1px;
  bottom: 1px;
}

/* line 136, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-sw {
  cursor: sw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  bottom: -5px;
}

/* line 143, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-nw {
  cursor: nw-resize;
  width: 9px;
  height: 9px;
  left: -5px;
  top: -5px;
}

/* line 150, ../scss/fletch/vendors/_jqueryui.scss */
.ui-resizable-ne {
  cursor: ne-resize;
  width: 9px;
  height: 9px;
  right: -5px;
  top: -5px;
}

/* line 157, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.85em !important;
  color: white;
  background-color: #bd0000;
  background-color: #bd0000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#bd0000, endColorstr=#ab0000);
  background-image: -moz-linear-gradient(center top, #bd0000, #ab0000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bd0000), to(#ab0000));
  padding: 0.5em 0.25em;
  border: 1px solid #870000;
  box-shadow: inset 0 1px 0 red;
  overflow: visible;
  /* removes extra width in IE */
}

/* line 173, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button,
.ui-button:link,
.ui-button:visited,
.ui-button:hover,
.ui-button:active {
  text-decoration: none;
}

/* to make room for the icon, a width needs to be set here */
/* line 177, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-icon-only {
  width: 2.2em;
}

/* button elements seem to need a little more width */
/* line 181, ../scss/fletch/vendors/_jqueryui.scss */
button.ui-button-icon-only {
  width: 2.4em;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: #7b7b7b !important;
}
/* line 190, ../scss/fletch/vendors/_jqueryui.scss */
button.ui-button-icon-only span {
  color: #7b7b7b !important;
}

/* line 194, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-icons-only {
  width: 3.4em;
}

/* line 197, ../scss/fletch/vendors/_jqueryui.scss */
button.ui-button-icons-only {
  width: 3.7em;
}

/* button text element */
/* line 202, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button .ui-button-text {
  display: block;
  line-height: normal;
}

/* line 206, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-only .ui-button-text {
  padding: .0em 0.5em;
}

/* line 210, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-icon-only .ui-button-text,
.ui-button-icons-only .ui-button-text {
  padding: .4em;
  text-indent: -9999999px;
}

/* line 215, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-icon-primary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 1em .4em 2.1em;
}

/* line 219, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-icon-secondary .ui-button-text,
.ui-button-text-icons .ui-button-text {
  padding: .4em 2.1em .4em 1em;
}

/* line 222, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-icons .ui-button-text {
  padding-left: 2.1em;
  padding-right: 2.1em;
}

/* no icon support for input elements, provide padding by default */
/* line 227, ../scss/fletch/vendors/_jqueryui.scss */
input.ui-button {
  padding: .4em 1em;
}

/* button icon element(s) */
/* line 236, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-icon-only .ui-icon,
.ui-button-text-icon-primary .ui-icon,
.ui-button-text-icon-secondary .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

/* line 241, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-icon-only .ui-icon {
  left: 50%;
  margin-left: -8px;
}

/* line 247, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-icon-primary .ui-button-icon-primary,
.ui-button-text-icons .ui-button-icon-primary,
.ui-button-icons-only .ui-button-icon-primary {
  left: .5em;
}

/* line 252, ../scss/fletch/vendors/_jqueryui.scss */
.ui-button-text-icon-secondary .ui-button-icon-secondary,
.ui-button-text-icons .ui-button-icon-secondary,
.ui-button-icons-only .ui-button-icon-secondary {
  right: .5em;
}

/* button sets */
/* line 257, ../scss/fletch/vendors/_jqueryui.scss */
.ui-buttonset {
  margin-right: 7px;
}

/* line 260, ../scss/fletch/vendors/_jqueryui.scss */
.ui-buttonset .ui-button {
  margin-left: 0;
  margin-right: -.3em;
}

/* workarounds */
/* reset extra padding in Firefox, see h5bp.com/l */
/* line 268, ../scss/fletch/vendors/_jqueryui.scss */
input.ui-button::-moz-focus-inner,
button.ui-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 272, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog {
  position: absolute;
  top: 0;
  left: 0;
  padding: .2em;
  outline: 0;
}

/* line 279, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-titlebar {
  padding: .4em 1em;
  position: relative;
}

/* line 283, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-title {
  float: left;
  margin: .65em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* line 291, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 21px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

/* line 300, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: .5em 1em;
  background: none;
  overflow: auto;
}

/* line 307, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-buttonpane {
  text-align: left;
  border-width: 1px 0 0 0;
  background-image: none;
  margin-top: .5em;
  padding: .3em 1em .5em .4em;
}

/* line 314, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: right;
}

/* line 317, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-dialog-buttonpane button {
  margin: .5em .4em .5em 0;
  cursor: pointer;
}

/* line 321, ../scss/fletch/vendors/_jqueryui.scss */
.ui-dialog .ui-resizable-se {
  width: 12px;
  height: 12px;
  right: -5px;
  bottom: -5px;
  background-position: 16px 16px;
}

/* line 328, ../scss/fletch/vendors/_jqueryui.scss */
.ui-draggable .ui-dialog-titlebar {
  cursor: move;
}

/* Component containers
----------------------------------*/
/* line 334, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 338, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget .ui-widget {
  font-size: 1em;
}

/* line 344, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* line 348, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #eeeeee;
  color: #333333;
}

/* line 353, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-content a {
  color: #333333;
}

/* line 356, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-header {
  display: block;
  border-bottom: 1px solid #d7d7d7;
  color: #7b7b7b;
  font-weight: bold;
}

/* line 364, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-header a {
  color: #ffffff;
}

/* Interaction states
----------------------------------*/
/* line 372, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  color: white;
}

/* line 377, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #1c94c4;
  text-decoration: none;
}

/* line 386, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background-color: #e20000;
  background-color: #c60000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#c60000, endColorstr=#c00000);
  background-image: -moz-linear-gradient(center top, #c60000, #c00000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c60000), to(#c00000));
}

/* line 393, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited {
  color: #c77405;
  text-decoration: none;
}

/* line 399, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  box-shadow: none;
  background-color: #9d0000;
  background-color: #ab0000;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ab0000, endColorstr=#9d0000);
  background-image: -moz-linear-gradient(center top, #ab0000, #9d0000);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ab0000), to(#9d0000));
}

/* line 406, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #eb8f00;
  text-decoration: none;
}

/* Interaction Cues
----------------------------------*/
/* line 415, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
  border: 1px solid #fed22f;
  color: #363636;
}

/* line 422, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
  color: #363636;
}

/* line 427, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  color: #ffffff;
}

/* line 434, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
  color: #ffffff;
}

/* line 439, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
  color: #ffffff;
}

/* line 444, ../scss/fletch/vendors/_jqueryui.scss */
.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
  font-weight: bold;
}

/* line 449, ../scss/fletch/vendors/_jqueryui.scss */
.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal;
}

/* line 456, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none;
}

/* line 461, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-disabled .ui-icon {
  filter: Alpha(Opacity=35);
  /* For IE8 - See #6059 */
}

/* Icons
----------------------------------*/
/* states and images */
/* line 469, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon {
  width: 16px;
  height: 16px;
}

/* line 474, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon,
.ui-widget-content .ui-icon {
  background-image: url(images/ui-icons_222222_256x240.png);
}

/* line 477, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-header .ui-icon {
  background-image: url(images/ui-icons_ffffff_256x240.png);
}

/* line 480, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-default .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 484, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 487, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-active .ui-icon {
  background-image: url(images/ui-icons_ef8c08_256x240.png);
}

/* line 490, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-highlight .ui-icon {
  background-image: url(images/ui-icons_228ef1_256x240.png);
}

/* line 494, ../scss/fletch/vendors/_jqueryui.scss */
.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
  background-image: url(images/ui-icons_ffd27a_256x240.png);
}

/* positioning */
/* line 499, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-blank {
  background-position: 16px 16px;
}

/* line 500, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-n {
  background-position: 0 0;
}

/* line 501, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-ne {
  background-position: -16px 0;
}

/* line 502, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-e {
  background-position: -32px 0;
}

/* line 503, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-se {
  background-position: -48px 0;
}

/* line 504, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-s {
  background-position: -64px 0;
}

/* line 505, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-sw {
  background-position: -80px 0;
}

/* line 506, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-w {
  background-position: -96px 0;
}

/* line 507, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-1-nw {
  background-position: -112px 0;
}

/* line 508, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-2-n-s {
  background-position: -128px 0;
}

/* line 509, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-carat-2-e-w {
  background-position: -144px 0;
}

/* line 510, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-n {
  background-position: 0 -16px;
}

/* line 511, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-ne {
  background-position: -16px -16px;
}

/* line 512, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-e {
  background-position: -32px -16px;
}

/* line 513, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-se {
  background-position: -48px -16px;
}

/* line 514, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 515, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-sw {
  background-position: -80px -16px;
}

/* line 516, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-w {
  background-position: -96px -16px;
}

/* line 517, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-1-nw {
  background-position: -112px -16px;
}

/* line 518, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-2-n-s {
  background-position: -128px -16px;
}

/* line 519, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-triangle-2-e-w {
  background-position: -144px -16px;
}

/* line 520, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-n {
  background-position: 0 -32px;
}

/* line 521, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-ne {
  background-position: -16px -32px;
}

/* line 522, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-e {
  background-position: -32px -32px;
}

/* line 523, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-se {
  background-position: -48px -32px;
}

/* line 524, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-s {
  background-position: -64px -32px;
}

/* line 525, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-sw {
  background-position: -80px -32px;
}

/* line 526, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-w {
  background-position: -96px -32px;
}

/* line 527, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-1-nw {
  background-position: -112px -32px;
}

/* line 528, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-2-n-s {
  background-position: -128px -32px;
}

/* line 529, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-2-ne-sw {
  background-position: -144px -32px;
}

/* line 530, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-2-e-w {
  background-position: -160px -32px;
}

/* line 531, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-2-se-nw {
  background-position: -176px -32px;
}

/* line 532, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowstop-1-n {
  background-position: -192px -32px;
}

/* line 533, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowstop-1-e {
  background-position: -208px -32px;
}

/* line 534, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowstop-1-s {
  background-position: -224px -32px;
}

/* line 535, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowstop-1-w {
  background-position: -240px -32px;
}

/* line 536, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-n {
  background-position: 0 -48px;
}

/* line 537, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-ne {
  background-position: -16px -48px;
}

/* line 538, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-e {
  background-position: -32px -48px;
}

/* line 539, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-se {
  background-position: -48px -48px;
}

/* line 540, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-s {
  background-position: -64px -48px;
}

/* line 541, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-sw {
  background-position: -80px -48px;
}

/* line 542, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-w {
  background-position: -96px -48px;
}

/* line 543, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-1-nw {
  background-position: -112px -48px;
}

/* line 544, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-2-n-s {
  background-position: -128px -48px;
}

/* line 545, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-2-ne-sw {
  background-position: -144px -48px;
}

/* line 546, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-2-e-w {
  background-position: -160px -48px;
}

/* line 547, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthick-2-se-nw {
  background-position: -176px -48px;
}

/* line 548, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthickstop-1-n {
  background-position: -192px -48px;
}

/* line 549, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthickstop-1-e {
  background-position: -208px -48px;
}

/* line 550, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthickstop-1-s {
  background-position: -224px -48px;
}

/* line 551, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowthickstop-1-w {
  background-position: -240px -48px;
}

/* line 552, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-w {
  background-position: 0 -64px;
}

/* line 553, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-n {
  background-position: -16px -64px;
}

/* line 554, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-e {
  background-position: -32px -64px;
}

/* line 555, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturnthick-1-s {
  background-position: -48px -64px;
}

/* line 556, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturn-1-w {
  background-position: -64px -64px;
}

/* line 557, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturn-1-n {
  background-position: -80px -64px;
}

/* line 558, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturn-1-e {
  background-position: -96px -64px;
}

/* line 559, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowreturn-1-s {
  background-position: -112px -64px;
}

/* line 560, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowrefresh-1-w {
  background-position: -128px -64px;
}

/* line 561, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowrefresh-1-n {
  background-position: -144px -64px;
}

/* line 562, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowrefresh-1-e {
  background-position: -160px -64px;
}

/* line 563, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrowrefresh-1-s {
  background-position: -176px -64px;
}

/* line 564, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-4 {
  background-position: 0 -80px;
}

/* line 565, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-arrow-4-diag {
  background-position: -16px -80px;
}

/* line 566, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-extlink {
  background-position: -32px -80px;
}

/* line 567, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-newwin {
  background-position: -48px -80px;
}

/* line 568, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-refresh {
  background-position: -64px -80px;
}

/* line 569, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-shuffle {
  background-position: -80px -80px;
}

/* line 570, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-transfer-e-w {
  background-position: -96px -80px;
}

/* line 571, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-transferthick-e-w {
  background-position: -112px -80px;
}

/* line 572, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-folder-collapsed {
  background-position: 0 -96px;
}

/* line 573, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-folder-open {
  background-position: -16px -96px;
}

/* line 574, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-document {
  background-position: -32px -96px;
}

/* line 575, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-document-b {
  background-position: -48px -96px;
}

/* line 576, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-note {
  background-position: -64px -96px;
}

/* line 577, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-mail-closed {
  background-position: -80px -96px;
}

/* line 578, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-mail-open {
  background-position: -96px -96px;
}

/* line 579, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-suitcase {
  background-position: -112px -96px;
}

/* line 580, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-comment {
  background-position: -128px -96px;
}

/* line 581, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-person {
  background-position: -144px -96px;
}

/* line 582, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-print {
  background-position: -160px -96px;
}

/* line 583, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-trash {
  background-position: -176px -96px;
}

/* line 584, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-locked {
  background-position: -192px -96px;
}

/* line 585, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-unlocked {
  background-position: -208px -96px;
}

/* line 586, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-bookmark {
  background-position: -224px -96px;
}

/* line 587, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-tag {
  background-position: -240px -96px;
}

/* line 588, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-home {
  background-position: 0 -112px;
}

/* line 589, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-flag {
  background-position: -16px -112px;
}

/* line 590, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-calendar {
  background-position: -32px -112px;
}

/* line 591, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-cart {
  background-position: -48px -112px;
}

/* line 592, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-pencil {
  background-position: -64px -112px;
}

/* line 593, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-clock {
  background-position: -80px -112px;
}

/* line 594, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-disk {
  background-position: -96px -112px;
}

/* line 595, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-calculator {
  background-position: -112px -112px;
}

/* line 596, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-zoomin {
  background-position: -128px -112px;
}

/* line 597, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-zoomout {
  background-position: -144px -112px;
}

/* line 598, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-search {
  background-position: -160px -112px;
}

/* line 599, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-wrench {
  background-position: -176px -112px;
}

/* line 600, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-gear {
  background-position: -192px -112px;
}

/* line 601, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-heart {
  background-position: -208px -112px;
}

/* line 602, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-star {
  background-position: -224px -112px;
}

/* line 603, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-link {
  background-position: -240px -112px;
}

/* line 604, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-cancel {
  background-position: 0 -128px;
}

/* line 605, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-plus {
  background-position: -16px -128px;
}

/* line 606, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-plusthick {
  background-position: -32px -128px;
}

/* line 607, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-minus {
  background-position: -48px -128px;
}

/* line 608, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-minusthick {
  background-position: -64px -128px;
}

/* line 609, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-close {
  background-position: -80px -128px;
}

/* line 610, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-closethick {
  background-position: -96px -128px;
}

/* line 611, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-key {
  background-position: -112px -128px;
}

/* line 612, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-lightbulb {
  background-position: -128px -128px;
}

/* line 613, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-scissors {
  background-position: -144px -128px;
}

/* line 614, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-clipboard {
  background-position: -160px -128px;
}

/* line 615, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-copy {
  background-position: -176px -128px;
}

/* line 616, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-contact {
  background-position: -192px -128px;
}

/* line 617, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-image {
  background-position: -208px -128px;
}

/* line 618, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-video {
  background-position: -224px -128px;
}

/* line 619, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-script {
  background-position: -240px -128px;
}

/* line 620, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-alert {
  background-position: 0 -144px;
}

/* line 621, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-info {
  background-position: -16px -144px;
}

/* line 622, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-notice {
  background-position: -32px -144px;
}

/* line 623, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-help {
  background-position: -48px -144px;
}

/* line 624, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-check {
  background-position: -64px -144px;
}

/* line 625, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-bullet {
  background-position: -80px -144px;
}

/* line 626, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-radio-on {
  background-position: -96px -144px;
}

/* line 627, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-radio-off {
  background-position: -112px -144px;
}

/* line 628, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-pin-w {
  background-position: -128px -144px;
}

/* line 629, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-pin-s {
  background-position: -144px -144px;
}

/* line 630, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-play {
  background-position: 0 -160px;
}

/* line 631, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-pause {
  background-position: -16px -160px;
}

/* line 632, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-seek-next {
  background-position: -32px -160px;
}

/* line 633, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-seek-prev {
  background-position: -48px -160px;
}

/* line 634, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-seek-end {
  background-position: -64px -160px;
}

/* line 635, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-seek-start {
  background-position: -80px -160px;
}

/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* line 637, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-seek-first {
  background-position: -80px -160px;
}

/* line 638, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-stop {
  background-position: -96px -160px;
}

/* line 639, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-eject {
  background-position: -112px -160px;
}

/* line 640, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-volume-off {
  background-position: -128px -160px;
}

/* line 641, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-volume-on {
  background-position: -144px -160px;
}

/* line 642, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-power {
  background-position: 0 -176px;
}

/* line 643, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-signal-diag {
  background-position: -16px -176px;
}

/* line 644, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-signal {
  background-position: -32px -176px;
}

/* line 645, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-battery-0 {
  background-position: -48px -176px;
}

/* line 646, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-battery-1 {
  background-position: -64px -176px;
}

/* line 647, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-battery-2 {
  background-position: -80px -176px;
}

/* line 648, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-battery-3 {
  background-position: -96px -176px;
}

/* line 649, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-plus {
  background-position: 0 -192px;
}

/* line 650, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-minus {
  background-position: -16px -192px;
}

/* line 651, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-close {
  background-position: -32px -192px;
}

/* line 652, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-triangle-e {
  background-position: -48px -192px;
}

/* line 653, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-triangle-s {
  background-position: -64px -192px;
}

/* line 654, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-triangle-w {
  background-position: -80px -192px;
}

/* line 655, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-triangle-n {
  background-position: -96px -192px;
}

/* line 656, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-arrow-e {
  background-position: -112px -192px;
}

/* line 657, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-arrow-s {
  background-position: -128px -192px;
}

/* line 658, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-arrow-w {
  background-position: -144px -192px;
}

/* line 659, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-arrow-n {
  background-position: -160px -192px;
}

/* line 660, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-zoomin {
  background-position: -176px -192px;
}

/* line 661, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-zoomout {
  background-position: -192px -192px;
}

/* line 662, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circle-check {
  background-position: -208px -192px;
}

/* line 663, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circlesmall-plus {
  background-position: 0 -208px;
}

/* line 664, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circlesmall-minus {
  background-position: -16px -208px;
}

/* line 665, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-circlesmall-close {
  background-position: -32px -208px;
}

/* line 666, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-squaresmall-plus {
  background-position: -48px -208px;
}

/* line 667, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-squaresmall-minus {
  background-position: -64px -208px;
}

/* line 668, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-squaresmall-close {
  background-position: -80px -208px;
}

/* line 669, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-grip-dotted-vertical {
  background-position: 0 -224px;
}

/* line 670, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-grip-dotted-horizontal {
  background-position: -16px -224px;
}

/* line 671, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-grip-solid-vertical {
  background-position: -32px -224px;
}

/* line 672, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-grip-solid-horizontal {
  background-position: -48px -224px;
}

/* line 673, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-gripsmall-diagonal-se {
  background-position: -64px -224px;
}

/* line 674, ../scss/fletch/vendors/_jqueryui.scss */
.ui-icon-grip-diagonal-se {
  background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/
/* Corner radius */
/* line 684, ../scss/fletch/vendors/_jqueryui.scss */
.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
  border-top-left-radius: 0;
}

/* line 690, ../scss/fletch/vendors/_jqueryui.scss */
.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
  border-top-right-radius: 0;
}

/* line 696, ../scss/fletch/vendors/_jqueryui.scss */
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
  border-bottom-left-radius: 0;
}

/* line 702, ../scss/fletch/vendors/_jqueryui.scss */
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
  border-bottom-right-radius: 0;
}

/* Overlays */
/* line 707, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-overlay {
  background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
  opacity: .5;
  filter: Alpha(Opacity=50);
}

/* line 712, ../scss/fletch/vendors/_jqueryui.scss */
.ui-widget-shadow {
  margin: -5px 0 0 -5px;
  padding: 5px;
  background: black url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;
  opacity: .2;
  filter: Alpha(Opacity=20);
  border-radius: 5px;
}

/* line 1, ../scss/fletch/_xmlclasses.scss */
.fl-xml-quarter {
  width: 22% !important;
  margin-right: 3% !important;
  display: inline-block !important;
  margin-bottom: 3% !important;
}

/* line 6, ../scss/fletch/_editable.scss */
.fl-editable {
  cursor: text;
}
/* line 10, ../scss/fletch/_editable.scss */
.fl-editable:hover {
  background-color: #d7d7d7;
  outline-color: #d7d7d7;
  outline-width: 0;
  outline-style: solid;
  cursor: text;
}
/* line 18, ../scss/fletch/_editable.scss */
.fl-editable:focus {
  outline-color: #d7d7d7;
  background-color: transparent;
  outline-width: 1px;
  outline-style: solid;
}
/* line 25, ../scss/fletch/_editable.scss */
.fl-editable:active {
  outline-color: #d7d7d7;
  background-color: transparent;
  outline-width: 1px;
  outline-style: solid;
}

/* line 38, ../scss/fletch/_editable.scss */
.fl-editable-image-loading {
  font-size: 6em;
  color: black;
  opacity: 0.45;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" 45 ")";
  filter: alpha(opacity=45);
  zoom: 1;
  position: absolute;
  z-index: 10;
}

/* line 46, ../scss/fletch/_editable.scss */
.fl-editable-image-container {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  direction: ltr;
  display: block;
}

/* line 57, ../scss/fletch/_editable.scss */
.fl-editable-image-file-select {
  /*cursor: pointer;*/
  font-size: 9000px;
  filter: alpha(opacity=0.01);
  -moz-opacity: 0.01;
  opacity: 0.01;
  /*margin: 0;*/
  position: absolute;
  direction: ltr;
  top: 0px;
  right: 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

/* line 1, ../scss/fletch/_forms.scss */
.fl-text, .fl-password, .fl-textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 0.875em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 20, ../scss/fletch/_forms.scss */
.fl-text:focus, .fl-password:focus, .fl-textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

/* line 27, ../scss/fletch/_forms.scss */
.fl-text, .fl-password {
  height: 2.3125em;
}

/* line 31, ../scss/fletch/_forms.scss */
.fl-textarea {
  height: 8em;
}

/* line 35, ../scss/fletch/_forms.scss */
input.fl-button {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  color: white;
  background-color: #bd0000;
  padding: 0.55em 0.5em;
  border: 0;
}
/* line 44, ../scss/fletch/_forms.scss */
input.fl-button:hover {
  background-color: #e20000;
}
/* line 48, ../scss/fletch/_forms.scss */
input.fl-button:active {
  background-color: #9d0000;
}

/* line 53, ../scss/fletch/_forms.scss */
a.fl-button {
  position: relative;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  color: white;
  background-color: #bd0000;
  padding: 0.55em 0.5em;
  border: 0;
}
/* line 64, ../scss/fletch/_forms.scss */
a.fl-button:hover {
  background-color: #e20000;
}
/* line 68, ../scss/fletch/_forms.scss */
a.fl-button:active {
  background-color: #9d0000;
}
