/* ==================================================================================================================== */
/* ! The 1140px Grid V2 by Andy Taylor \ http://cssgrid.net \ http://www.twitter.com/andytlr \ http://www.andytlr.com   */
/* ==================================================================================================================== */
/* line 11, ../scss/theme/_1140.scss */
.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 16, ../scss/theme/_1140.scss */
.row {
  width: 100%;
  max-width: 1140px;
  min-width: 755px;
  margin: 0 auto;
  overflow: visible;
}

/* line 24, ../scss/theme/_1140.scss */
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}

/* line 30, ../scss/theme/_1140.scss */
.row .onecol {
  width: 4.85%;
}

/* line 34, ../scss/theme/_1140.scss */
.row .twocol {
  width: 13.45%;
}

/* line 38, ../scss/theme/_1140.scss */
.row .threecol {
  width: 22.05%;
}

/* line 42, ../scss/theme/_1140.scss */
.row .fourcol {
  width: 30.75%;
}

/* line 46, ../scss/theme/_1140.scss */
.row .fivecol {
  width: 39.45%;
}

/* line 50, ../scss/theme/_1140.scss */
.row .sixcol {
  width: 48%;
}

/* line 54, ../scss/theme/_1140.scss */
.row .sevencol {
  width: 56.75%;
}

/* line 58, ../scss/theme/_1140.scss */
.row .eightcol {
  width: 65.4%;
}

/* line 62, ../scss/theme/_1140.scss */
.row .ninecol {
  width: 74.05%;
}

/* line 66, ../scss/theme/_1140.scss */
.row .tencol {
  width: 82.7%;
}

/* line 70, ../scss/theme/_1140.scss */
.row .elevencol {
  width: 91.35%;
}

/* line 74, ../scss/theme/_1140.scss */
.row .twelvecol {
  width: 100%;
  float: left;
}

/* line 79, ../scss/theme/_1140.scss */
.last {
  margin-right: 0px;
}

/* line 83, ../scss/theme/_1140.scss */
img, object, embed {
  max-width: 100%;
}

/* line 87, ../scss/theme/_1140.scss */
img {
  height: auto;
}

/* Smaller screens */
@media only screen and (max-width: 1023px) {
  /* line 96, ../scss/theme/_1140.scss */
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
}
/* Mobile */
@media handheld, only screen and (max-width: 767px) {
  /* line 108, ../scss/theme/_1140.scss */
  body {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }

  /* line 113, ../scss/theme/_1140.scss */
  .row, body, .container {
    width: 100%;
    min-width: 0;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 122, ../scss/theme/_1140.scss */
  .row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
    width: auto;
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* Basic Styles */
/* line 2, ../scss/theme/_mobilenav.scss */
nav.desktop {
  display: inline-block;
}
@media handheld, only screen and (max-width: 767px) {
  /* line 2, ../scss/theme/_mobilenav.scss */
  nav.desktop {
    display: none;
  }
}

/* line 11, ../scss/theme/_mobilenav.scss */
a.mobile {
  display: none;
  vertical-align: middle;
  margin-left: 1em;
  color: #fff;
  margin-top: 1.35em;
  position: relative;
}
/* line 19, ../scss/theme/_mobilenav.scss */
a.mobile i {
  padding: 0;
}
@media handheld, only screen and (max-width: 767px) {
  /* line 11, ../scss/theme/_mobilenav.scss */
  a.mobile {
    display: inline-block;
    margin-right: 20px;
  }
}

/* line 29, ../scss/theme/_mobilenav.scss */
a.mobile {
  float: right;
}

/* line 34, ../scss/theme/_mobilenav.scss */
nav.mobile {
  display: none;
  height: auto;
  width: 100%;
  font-size: 11pt;
  font-weight: bold;
  margin: none !important;
  z-index: 20;
}
/* line 43, ../scss/theme/_mobilenav.scss */
nav.mobile:after {
  clear: both;
}

/* line 48, ../scss/theme/_mobilenav.scss */
nav.mobile ul {
  padding: 0;
  width: 100%;
  position: relative;
  background-color: #bd0000;
  margin: 0;
}

/* line 56, ../scss/theme/_mobilenav.scss */
nav.mobile li {
  display: inline-block;
  background-color: #bd0000;
  border-bottom: 1px solid #9d0000;
  width: 100%;
  position: relative;
  text-align: center;
}
/* line 64, ../scss/theme/_mobilenav.scss */
nav.mobile li:after {
  clear: both;
}

/* line 69, ../scss/theme/_mobilenav.scss */
nav.mobile li.item {
  padding: 0.75em 0;
  color: white;
}

/* line 74, ../scss/theme/_mobilenav.scss */
nav.mobile li.heading {
  background-color: #9d0000;
  font-size: 1.4em;
  font-weight: 700;
  color: #ffffff;
  line-height: 2em;
}
/* line 81, ../scss/theme/_mobilenav.scss */
nav.mobile li.heading:after {
  clear: both;
}

/* line 86, ../scss/theme/_mobilenav.scss */
nav.mobile a {
  color: #fff !important;
  display: inline-block;
  text-decoration: none;
  line-height: 3.5em;
}
/* line 92, ../scss/theme/_mobilenav.scss */
nav.mobile a:hover {
  background: #e20000;
}
/* line 96, ../scss/theme/_mobilenav.scss */
nav.mobile a:active {
  background: #9d0000;
}
/* line 100, ../scss/theme/_mobilenav.scss */
nav.mobile a:after {
  clear: both;
}

/* line 106, ../scss/theme/_mobilenav.scss */
nav.mobile li a {
  border-right: 1px solid #576979;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom: 1px solid #9d0000;
  border-right: 1px solid #9d0000;
  width: 100%;
}

/* line 117, ../scss/theme/_mobilenav.scss */
nav.mobile li:last-child a {
  border-right: 0;
}

/* line 122, ../scss/theme/_mobilenav.scss */
nav.mobile a#pull {
  display: none;
  margin-bottom: 0;
  height: 6em;
}

/* line 128, ../scss/theme/_mobilenav.scss */
nav hr.force-clear {
  margin: 0;
  padding: 0;
  height: 0;
  width: 100%;
  clear: both;
  border: none;
}

/* line 137, ../scss/theme/_mobilenav.scss */
.inactive-mobile-nav {
  display: block;
  font-size: 3em;
  padding-left: 0.2em;
}
/* line 143, ../scss/theme/_mobilenav.scss */
.inactive-mobile-nav:hover {
  background-color: #9f9f9f;
}
/* line 147, ../scss/theme/_mobilenav.scss */
.inactive-mobile-nav:active {
  background-color: #8d8d8d;
}

/* line 152, ../scss/theme/_mobilenav.scss */
.active-mobile-nav {
  display: block;
  color: #fff;
  background-color: #bd0000;
  font-size: 3em;
  padding-left: 0.2em;
}
/* line 159, ../scss/theme/_mobilenav.scss */
.active-mobile-nav:hover {
  background-color: #e20000;
}
/* line 163, ../scss/theme/_mobilenav.scss */
.active-mobile-nav:active {
  background-color: #9d0000;
}

/* line 169, ../scss/theme/_mobilenav.scss */
.menu-tip:before {
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 20px solid #bd0000;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  /* At time of this creation, only Fx4 doing pseduo transitions */
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  opacity: 1;
  left: 0.65em;
  bottom: -3.2em;
}

/* line 198, ../scss/theme/_mobilenav.scss */
.lines-button {
  display: inline-block;
  padding: 1.75rem 0.875rem;
  transition: .3s;
  cursor: pointer;
  user-select: none !important;
  border-radius: 0.5rem;
}
/* line 206, ../scss/theme/_mobilenav.scss */
.lines-button:hover {
  opacity: 1;
}
/* line 210, ../scss/theme/_mobilenav.scss */
.lines-button:active {
  transition: 0;
  background: rgba(0, 0, 0, 0.1);
}

/* line 216, ../scss/theme/_mobilenav.scss */
.lines {
  display: inline-block;
  width: 3.5rem;
  height: 0.5rem;
  background: #bd0000;
  border-radius: 0.25rem;
  transition: 0.3s;
  position: relative;
  /*create the upper and lower lines as pseudo-elements of the middle line*/
}
/* line 223, ../scss/theme/_mobilenav.scss */
.lines:before, .lines:after {
  display: inline-block;
  width: 3.5rem;
  height: 0.5rem;
  background: #bd0000;
  border-radius: 0.25rem;
  transition: 0.3s;
  position: absolute;
  left: 0;
  content: '';
  -webkit-transform-origin: 0.25rem center;
  -moz-transform-origin: 0.25rem center;
  -o-transform-origin: 0.25rem center;
  -ms-transform-origin: 0.25rem center;
  transform-origin: 0.25rem center;
}
/* line 236, ../scss/theme/_mobilenav.scss */
.lines:before {
  top: 0.875rem;
}
/* line 237, ../scss/theme/_mobilenav.scss */
.lines:after {
  top: -0.875rem;
}

/* line 240, ../scss/theme/_mobilenav.scss */
.lines-button:hover {
  opacity: 1;
}
/* line 244, ../scss/theme/_mobilenav.scss */
.lines-button:hover .lines:before {
  top: 1rem;
}
/* line 245, ../scss/theme/_mobilenav.scss */
.lines-button:hover .lines:after {
  top: -1rem;
}

/* line 249, ../scss/theme/_mobilenav.scss */
.lines-button.x.close .lines {
  /*hide the middle line*/
  background: transparent;
  /*overlay the lines by setting both their top values to 0*/
}
/* line 255, ../scss/theme/_mobilenav.scss */
.lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  top: 0;
  width: 3.5rem;
}
/* line 267, ../scss/theme/_mobilenav.scss */
.lines-button.x.close .lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
  -moz-transform: rotate3d(0, 0, 1, 45deg);
  -o-transform: rotate3d(0, 0, 1, 45deg);
  -ms-transform: rotate3d(0, 0, 1, 45deg);
  transform: rotate3d(0, 0, 1, 45deg);
}
/* line 275, ../scss/theme/_mobilenav.scss */
.lines-button.x.close .lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
  -moz-transform: rotate3d(0, 0, 1, -45deg);
  -o-transform: rotate3d(0, 0, 1, -45deg);
  -ms-transform: rotate3d(0, 0, 1, -45deg);
  transform: rotate3d(0, 0, 1, -45deg);
}

/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
/* line 5, ../scss/theme/_magnificpopup.scss */
#colorbox, #cboxOverlay, #cboxWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
}

/* line 6, ../scss/theme/_magnificpopup.scss */
#cboxWrapper {
  max-width: none;
  background-color: #fff;
}

/* line 7, ../scss/theme/_magnificpopup.scss */
#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* line 8, ../scss/theme/_magnificpopup.scss */
#cboxMiddleLeft, #cboxBottomLeft {
  clear: left;
}

/* line 9, ../scss/theme/_magnificpopup.scss */
#cboxContent {
  position: relative;
}

/* line 10, ../scss/theme/_magnificpopup.scss */
#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 11, ../scss/theme/_magnificpopup.scss */
#cboxTitle {
  margin: 0;
}

/* line 12, ../scss/theme/_magnificpopup.scss */
#cboxLoadingOverlay, #cboxLoadingGraphic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 13, ../scss/theme/_magnificpopup.scss */
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow {
  cursor: pointer;
}

/* line 14, ../scss/theme/_magnificpopup.scss */
.cboxPhoto {
  float: left;
  margin: auto;
  border: 0;
  display: block;
  max-width: none;
  -ms-interpolation-mode: bicubic;
}

/* line 15, ../scss/theme/_magnificpopup.scss */
.cboxIframe {
  width: 100%;
  height: 100%;
  display: block;
  border: 0;
}

/* line 16, ../scss/theme/_magnificpopup.scss */
#colorbox, #cboxContent, #cboxLoadedContent {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

/* 
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
/* line 23, ../scss/theme/_magnificpopup.scss */
#cboxOverlay {
  background: #fff;
}

/* line 24, ../scss/theme/_magnificpopup.scss */
#colorbox {
  outline: 0;
}

/* line 25, ../scss/theme/_magnificpopup.scss */
#cboxContent {
  margin-top: 32px;
  overflow: visible;
  background: #000;
}

/* line 26, ../scss/theme/_magnificpopup.scss */
.cboxIframe {
  background: #fff;
}

/* line 27, ../scss/theme/_magnificpopup.scss */
#cboxError {
  padding: 50px;
  border: 1px solid #ccc;
}

/* line 28, ../scss/theme/_magnificpopup.scss */
#cboxLoadedContent {
  background: #000;
  padding: 1px;
}

/* line 29, ../scss/theme/_magnificpopup.scss */
#cboxLoadingGraphic {
  background: url(images/loading.gif) no-repeat center center;
}

/* line 30, ../scss/theme/_magnificpopup.scss */
#cboxLoadingOverlay {
  background: #000;
}

/* line 31, ../scss/theme/_magnificpopup.scss */
#cboxTitle {
  position: absolute;
  top: -22px;
  left: 0;
  color: #000;
}

/* line 32, ../scss/theme/_magnificpopup.scss */
#cboxCurrent {
  position: absolute;
  top: -22px;
  right: 205px;
  text-indent: -9999px;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
/* line 35, ../scss/theme/_magnificpopup.scss */
#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -20px;
  background: url(images/controls.png) no-repeat 0 0;
}

/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
/* line 38, ../scss/theme/_magnificpopup.scss */
#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {
  outline: 0;
}

/* line 40, ../scss/theme/_magnificpopup.scss */
#cboxPrevious {
  background-position: 0px 0px;
  right: 44px;
}

/* line 41, ../scss/theme/_magnificpopup.scss */
#cboxPrevious:hover {
  background-position: 0px -25px;
}

/* line 42, ../scss/theme/_magnificpopup.scss */
#cboxNext {
  background-position: -25px 0px;
  right: 22px;
}

/* line 43, ../scss/theme/_magnificpopup.scss */
#cboxNext:hover {
  background-position: -25px -25px;
}

/* line 44, ../scss/theme/_magnificpopup.scss */
#cboxClose {
  background-position: -50px 0px;
  right: 0;
}

/* line 45, ../scss/theme/_magnificpopup.scss */
#cboxClose:hover {
  background-position: -50px -25px;
}

/* line 46, ../scss/theme/_magnificpopup.scss */
.cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious {
  right: 66px;
}

/* line 47, ../scss/theme/_magnificpopup.scss */
.cboxSlideshow_on #cboxSlideshow {
  background-position: -75px -25px;
  right: 44px;
}

/* line 48, ../scss/theme/_magnificpopup.scss */
.cboxSlideshow_on #cboxSlideshow:hover {
  background-position: -100px -25px;
}

/* line 49, ../scss/theme/_magnificpopup.scss */
.cboxSlideshow_off #cboxSlideshow {
  background-position: -100px 0px;
  right: 44px;
}

/* line 50, ../scss/theme/_magnificpopup.scss */
.cboxSlideshow_off #cboxSlideshow:hover {
  background-position: -75px -25px;
}

/* Magnific Popup CSS */
/* line 127, ../scss/theme/_magnificpopup.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 144, ../scss/theme/_magnificpopup.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 156, ../scss/theme/_magnificpopup.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 171, ../scss/theme/_magnificpopup.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 182, ../scss/theme/_magnificpopup.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 189, ../scss/theme/_magnificpopup.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 199, ../scss/theme/_magnificpopup.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 206, ../scss/theme/_magnificpopup.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 210, ../scss/theme/_magnificpopup.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 216, ../scss/theme/_magnificpopup.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 223, ../scss/theme/_magnificpopup.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 231, ../scss/theme/_magnificpopup.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 239, ../scss/theme/_magnificpopup.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 258, ../scss/theme/_magnificpopup.scss */
.mfp-hide {
  display: none !important;
}

/* line 269, ../scss/theme/_magnificpopup.scss */
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
/* line 279, ../scss/theme/_magnificpopup.scss */
.mfp-preloader a {
  color: #cccccc;
}
/* line 281, ../scss/theme/_magnificpopup.scss */
.mfp-preloader a:hover {
  color: white;
}

/* line 289, ../scss/theme/_magnificpopup.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 296, ../scss/theme/_magnificpopup.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 304, ../scss/theme/_magnificpopup.scss */
button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 317, ../scss/theme/_magnificpopup.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 325, ../scss/theme/_magnificpopup.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}
/* line 347, ../scss/theme/_magnificpopup.scss */
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 354, ../scss/theme/_magnificpopup.scss */
.mfp-close:active {
  top: 1px;
}

/* line 359, ../scss/theme/_magnificpopup.scss */
.mfp-close-btn-in .mfp-close {
  color: #333333;
}

/* line 365, ../scss/theme/_magnificpopup.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 375, ../scss/theme/_magnificpopup.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #cccccc;
  font-size: 12px;
  line-height: 18px;
}

/* line 386, ../scss/theme/_magnificpopup.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* line 399, ../scss/theme/_magnificpopup.scss */
.mfp-arrow:active {
  margin-top: -54px;
}
/* line 403, ../scss/theme/_magnificpopup.scss */
.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
/* line 412, ../scss/theme/_magnificpopup.scss */
.mfp-arrow:before, .mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
/* line 426, ../scss/theme/_magnificpopup.scss */
.mfp-arrow:after,
.mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
/* line 434, ../scss/theme/_magnificpopup.scss */
.mfp-arrow:before,
.mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 442, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-left {
  left: 0;
}
/* line 446, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
  border-right: 17px solid white;
  margin-left: 31px;
}
/* line 451, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

/* line 457, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-right {
  right: 0;
}
/* line 460, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
  border-left: 17px solid white;
  margin-left: 39px;
}
/* line 465, ../scss/theme/_magnificpopup.scss */
.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
  border-left: 27px solid #3f3f3f;
}

/* line 475, ../scss/theme/_magnificpopup.scss */
.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}
/* line 478, ../scss/theme/_magnificpopup.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
/* line 483, ../scss/theme/_magnificpopup.scss */
.mfp-iframe-holder .mfp-close {
  top: -40px;
}

/* line 487, ../scss/theme/_magnificpopup.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
/* line 492, ../scss/theme/_magnificpopup.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: black;
}

/* Main image in popup */
/* line 512, ../scss/theme/_magnificpopup.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
/* line 527, ../scss/theme/_magnificpopup.scss */
.mfp-figure {
  line-height: 0;
}
/* line 529, ../scss/theme/_magnificpopup.scss */
.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444444;
}
/* line 543, ../scss/theme/_magnificpopup.scss */
.mfp-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}
/* line 549, ../scss/theme/_magnificpopup.scss */
.mfp-figure figure {
  margin: 0;
}

/* line 553, ../scss/theme/_magnificpopup.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 561, ../scss/theme/_magnificpopup.scss */
.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 570, ../scss/theme/_magnificpopup.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 577, ../scss/theme/_magnificpopup.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  /* line 590, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 595, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  /* line 601, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  /* line 605, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  /* line 610, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* line 620, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  /* line 624, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  /* line 628, ../scss/theme/_magnificpopup.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 648, ../scss/theme/_magnificpopup.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 652, ../scss/theme/_magnificpopup.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 656, ../scss/theme/_magnificpopup.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 660, ../scss/theme/_magnificpopup.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* line 672, ../scss/theme/_magnificpopup.scss */
.mfp-ie7 .mfp-img {
  padding: 0;
}
/* line 675, ../scss/theme/_magnificpopup.scss */
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px;
}
/* line 682, ../scss/theme/_magnificpopup.scss */
.mfp-ie7 .mfp-container {
  padding: 0;
}
/* line 685, ../scss/theme/_magnificpopup.scss */
.mfp-ie7 .mfp-content {
  padding-top: 44px;
}
/* line 688, ../scss/theme/_magnificpopup.scss */
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0;
}

/* line 1, ../scss/theme/_error.scss */
.error-page {
  width: 100%;
  max-width: 40em;
  margin: 1em auto;
}
/* line 6, ../scss/theme/_error.scss */
.error-page p {
  font-size: 1.25em;
}

/* line 2, ../scss/theme/_sitemap.scss */
div.sitemap ul {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  padding-left: none;
  list-style-type: none;
}
/* line 10, ../scss/theme/_sitemap.scss */
div.sitemap ul li {
  display: list-item;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0.35em;
}
/* line 18, ../scss/theme/_sitemap.scss */
div.sitemap ul li a {
  display: block;
  border-bottom: 1px solid #d7d7d7;
  height: 32px;
  line-height: 32px;
}
/* line 34, ../scss/theme/_sitemap.scss */
div.sitemap ul li ul li {
  margin-top: 0.15em;
  font-weight: 400;
  font-size: 0.95em;
  text-transform: none;
}

/* line 1, ../scss/theme/_header.scss */
header.primary {
  margin-top: 2em;
  margin-bottom: 2em;
}
/* line 6, ../scss/theme/_header.scss */
header.primary .main-logo {
  text-decoration: none;
  vertical-align: text-bottom;
  display: inline-block;
  width: 125px;
}
/* line 12, ../scss/theme/_header.scss */
header.primary .main-logo img {
  width: 100%;
}
@media handheld, only screen and (max-width: 767px) {
  /* line 6, ../scss/theme/_header.scss */
  header.primary .main-logo {
    margin-left: 20px;
  }
}
/* line 21, ../scss/theme/_header.scss */
header.primary nav {
  text-align: center;
  font-size: 1.2em;
  vertical-align: text-bottom;
  margin-bottom: 0;
}
/* line 27, ../scss/theme/_header.scss */
header.primary nav ul.navigation {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
  padding-left: 1em;
  margin: 0;
}
/* line 34, ../scss/theme/_header.scss */
header.primary nav ul.navigation li {
  display: inline-block;
  -webkit-transform: skew(-11deg);
  -moz-transform: skew(-11deg);
  -o-transform: skew(-11deg);
  margin-right: 0.15em;
}
/* line 41, ../scss/theme/_header.scss */
header.primary nav ul.navigation li a {
  color: #bd0000;
  font-weight: 400;
  display: inline-block;
  padding: 0.25em 0.65em;
  text-decoration: none;
}
/* line 49, ../scss/theme/_header.scss */
header.primary nav ul.navigation li a:hover {
  color: white;
}
/* line 54, ../scss/theme/_header.scss */
header.primary nav ul.navigation li:hover {
  background-color: #bd0000;
}
/* line 59, ../scss/theme/_header.scss */
header.primary nav ul.navigation li.current-page {
  background-color: #bd0000;
}
/* line 60, ../scss/theme/_header.scss */
header.primary nav ul.navigation li.current-page a {
  color: white;
  cursor: default;
}
/* line 69, ../scss/theme/_header.scss */
header.primary nav ul.socialmedia {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.3em;
}
/* line 76, ../scss/theme/_header.scss */
header.primary nav ul.socialmedia li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
/* line 81, ../scss/theme/_header.scss */
header.primary nav ul.socialmedia li a {
  text-decoration: none;
}

/* line 1, ../scss/theme/_forms.scss */
.theme-text, .theme-password, .theme-textarea {
  background-color: white;
  font-family: inherit;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.75);
  display: block;
  font-size: 1em;
  margin: 0 0 1em 0;
  padding: 0.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 20, ../scss/theme/_forms.scss */
.theme-text:focus, .theme-password:focus, .theme-textarea:focus {
  background: #fafafa;
  border-color: #999999;
  outline: none;
}

/* line 27, ../scss/theme/_forms.scss */
.theme-text, .theme-password {
  height: 2.3125em;
}

/* line 31, ../scss/theme/_forms.scss */
.theme-textarea {
  height: 8em;
}

/* line 35, ../scss/theme/_forms.scss */
input.theme-button {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1em;
  color: white;
  background-color: #bd0000;
  padding: 0.55em 0.5em;
  border: 0;
}
/* line 44, ../scss/theme/_forms.scss */
input.theme-button:hover {
  background-color: #e20000;
}
/* line 48, ../scss/theme/_forms.scss */
input.theme-button:active {
  background-color: #9d0000;
}

/* line 53, ../scss/theme/_forms.scss */
a.theme-button {
  position: relative;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 0.85em;
  color: white;
  background-color: #bd0000;
  padding: 0.55em 0.5em;
  border: 0;
}
/* line 64, ../scss/theme/_forms.scss */
a.theme-button:hover {
  background-color: #e20000;
}
/* line 68, ../scss/theme/_forms.scss */
a.theme-button:active {
  background-color: #9d0000;
}

/* line 27, ../scss/theme.scss */
body {
  font-family: "Lato", sans-serif;
  border-top: 6px solid #bd0000;
}

/* line 32, ../scss/theme.scss */
*[hidden] {
  display: none;
}

/* line 40, ../scss/theme.scss */
figure img {
  width: 100%;
}
/* line 44, ../scss/theme.scss */
figure p {
  text-align: center;
  text-decoration: italic !important;
}

/* ==========================================================================
   Main Element Styles
   ========================================================================== */
/* _____________________________________________________*/
/*   Headings -- defaults set in normalize.css         */
/* line 59, ../scss/theme.scss */
h1, h2, h3, h4, h5, h6, p, figure, img, figcaption {
  margin-top: 0;
}

/* line 63, ../scss/theme.scss */
h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.5em;
  line-height: 1.2em;
  font-weight: 300;
  color: #bd0000;
}

/* line 71, ../scss/theme.scss */
h2 {
  font-family: "Lato", sans-serif;
}

/* line 75, ../scss/theme.scss */
h3 {
  font-family: "Lato", sans-serif;
}

/* line 79, ../scss/theme.scss */
h4 {
  font-family: "Lato", sans-serif;
}

/* line 83, ../scss/theme.scss */
h5 {
  font-family: "Lato", sans-serif;
}

/* line 87, ../scss/theme.scss */
h6 {
  font-family: "Lato", sans-serif;
}

/* ____________________________*/
/*   Grouping content         */
/* line 94, ../scss/theme.scss */
p {
  line-height: 1.5em;
}

/* ________________________________*/
/*   Text-level Semantics         */
/* line 125, ../scss/theme.scss */
a {
  color: #bd0000;
}

/* line 141, ../scss/theme.scss */
del {
  text-decoration: line-through;
}

/* line 149, ../scss/theme.scss */
abbr {
  border: none;
  letter-spacing: 1px;
  text-decoration: none;
  vertical-align: super;
  font-size: 0.85em;
  color: #7b7b7b;
}

/* line 158, ../scss/theme.scss */
abbr[title] {
  border: none;
}

/* line 162, ../scss/theme.scss */
abbr[title]:hover {
  cursor: help;
}

/* ________________________*/
/*   Tabular data         */
/* line 179, ../scss/theme.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 183, ../scss/theme.scss */
td, th {
  text-align: left;
  padding: 0.25em 1em 0.1875em 0;
  /* 4px 16px 3px 0 */
}

/* line 187, ../scss/theme.scss */
th {
  color: #222;
  font: bold 0.875em/1.1429 'Proxima Nova Bold',sans-serif;
  /* 14px/16px */
  border-bottom-color: #bcb3a6;
  padding: 0.5714em 0 0.5em;
  /* 8px 0 7px */
}

/* line 193, ../scss/theme.scss */
td {
  vertical-align: top;
}

/* ________________________*/
/*   Forms                */
/* line 201, ../scss/theme.scss */
.field {
  font: 1em/1.5 sans-serif;
  border: 1px solid #bcb3a6;
  padding: 0.25em;
  width: 50%;
}

/* line 207, ../scss/theme.scss */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.35em;
}

/* line 214, ../scss/theme.scss */
fieldset div {
  margin: 0.75em 0;
}

/* line 217, ../scss/theme.scss */
fieldset abbr[title="Required"] {
  color: #900;
  font: normal 1.5em/0.1 sans-serif;
  /* 20px */
  border-bottom: 0 none;
}

/* line 225, ../scss/theme.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 230, ../scss/theme.scss */
.clearfix:after {
  clear: both;
}

/* line 234, ../scss/theme.scss */
.clearfix {
  *zoom: 1;
}
