/*      Jquery Dropdowns          */
/*////////////////////////////////*/

.fl-dropdown {
  position: absolute;
  z-index: 9999999;
  display: none;
}

.fl-dropdown .fl-dropdown-menu,
.fl-dropdown .fl-dropdown-panel {
  min-width: 160px;
  max-width: 360px;
  list-style: none;
  background: #FFF;
  border: solid 1px #DDD;
  border: solid 1px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  overflow: visible;
  padding: 4px 0;
  margin: 0;
}

ul.fl-dropdown-menu {
  li {
    a:before {
      margin-right: 0.8em;
      margin-left: 0;
    }
  }
}

.fl-dropdown .fl-dropdown-panel {
  padding: 10px;
}

.fl-dropdown.fl-dropdown-tip {
  margin-top: 8px;
}

.fl-dropdown.fl-dropdown-tip:before {
  position: absolute;
  top: -6px;
  left: 9px;
  content: '';
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.fl-dropdown.fl-dropdown-tip.fl-dropdown-anchor-right:before {
  left: auto;
  right: 9px;
}

.fl-dropdown.fl-dropdown-tip:after {
  position: absolute;
  top: -5px;
  left: 10px;
  content: '';
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #FFF;
  display: inline-block;
}

.fl-dropdown.fl-dropdown-tip.fl-dropdown-anchor-right:after {
  left: auto;
  right: 10px;
}


.fl-dropdown.fl-dropdown-scroll .fl-dropdown-menu,
.fl-dropdown.fl-dropdown-scroll .fl-dropdown-panel {
  max-height: 358px;
  overflow: auto;
}

.fl-dropdown .fl-dropdown-menu LI {
  list-style: none;
  padding: 0 0;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #d7d7d7;
}

.fl-dropdown .fl-dropdown-menu LI:last-child {
  border-bottom: 0;
}

.fl-dropdown .fl-dropdown-menu LI > A,
.fl-dropdown .fl-dropdown-menu LABEL {
  display: block;
  color: #555;
  text-decoration: none;
  line-height: 2em;
  padding: 3px 15px;
  white-space: nowrap;
}

.fl-dropdown .fl-dropdown-menu LI > A:hover,
.fl-dropdown .fl-dropdown-menu LABEL:hover {
  background-color: #08C;
  color: #FFF;
  cursor: pointer;
}

.fl-dropdown .fl-dropdown-menu .fl-dropdown-divider {
  font-size: 1px;
  border-top: solid 1px #E5E5E5;
  padding: 0;
  margin: 5px 0;
}

/* Icon Examples - icons courtesy of http://p.yusukekamiyamane.com/ */
.fl-dropdown.has-icons LI > A {
  padding-left: 30px;
  background-position: 8px center;
  background-repeat: no-repeat;
}

.fl-dropdown .undo A { background-image: url(icons/arrow-curve-180-left.png); }
.fl-dropdown .redo A { background-image: url(icons/arrow-curve.png); }
.fl-dropdown .cut A { background-image: url(icons/scissors.png); }
.fl-dropdown .copy A { background-image: url(icons/document-copy.png); }
.fl-dropdown .paste A { background-image: url(icons/clipboard.png); }
.fl-dropdown .delete A { background-image: url(icons/cross-script.png); }


