.fl-control-bar {
  display: block;
  z-index: 10;
  position: fixed;
  top: 0;
  min-height: 3.3em;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px #bbb;
  font-family: $fl-primary-font;
  font-size: 15px;

  .fl-menu {
    margin-top: 1em;
  }

  .fl-notification {
    margin-top: 1em;
    display: none;
  }

  .fl-publishing {
    float: right;
    display: none;
    width: 13.5em;
    margin-top: 0.75em;
    margin-left: 0.6em;

    form {
      display: inline-block;
      width: 49%;
      border: none;
      padding: 0;
      margin: 0;

      input {
        width: 100%;
      }
    }
  }

  .fl-publish {
    margin-right: 0.5em;
  }

  .fl-tiny-button {
    font-size: 0.85em;
    border: 1px solid #a1a1a1;
    border-radius: 3px;
    text-decoration: none;
    color: #a1a1a1;
    padding: 0.25em 0.5em;
    @include transition(background-color, 100ms);
    @include transition(color, 100ms);

    &:before {
      margin-right: 0.4em;
    }

    &:hover {
      color: #ffffff;
      background-color: #a1a1a1;
    }
  }
}

.fl-top-spacing {
  height: 3.3em;
  width: 100%;
}