/* Basic Styles */
nav.desktop {
    
    display: inline-block;

    @include breakAt(767) {
      display: none;
    }
}

a.mobile {
    display: none;
    vertical-align: middle;
    margin-left: 1em;
    color: #fff;
    margin-top: 1.35em;
    position: relative;

    i {
    	padding: 0;
    }

    @include breakAt(767) {
      display: inline-block;
      margin-right: 20px;
    }
}

a.mobile {
	float: right;
}


nav.mobile {
	display: none;
  	height: auto;
	width: 100%;
	font-size: 11pt;
	font-weight: bold;
	margin: none !important;
	z-index: 20;

	&:after {
		clear: both;
	}
}

nav.mobile ul {
	padding: 0;
	width: 100%;
	position: relative;
	background-color: $primary-color;
	margin: 0;
}

nav.mobile li {
	display: inline-block;
	background-color: $primary-color;
	border-bottom: 1px solid $primary-color / 1.2;
	width: 100%;
	position: relative;
	text-align: center;

	&:after {
		clear: both;
	}
}

nav.mobile li.item {
	padding: 0.75em 0;
	color: white;
}

nav.mobile li.heading {
	background-color: $primary-color / 1.2;
	font-size: 1.4em;
	font-weight: 700;
	color: #ffffff;
	line-height: 2em;

	&:after {
		clear: both;
	}
}

nav.mobile a {
	color: #fff !important;
	display: inline-block;
	text-decoration: none;
	line-height: 3.5em;

	&:hover {
		background: $primary-color * 1.2;
	}

	&:active {
		background: $primary-color / 1.2;
	}

	&:after {
		clear: both;
	}

}

nav.mobile li a {
	border-right: 1px solid #576979;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;

	border-bottom: 1px solid $primary-color / 1.2;
	border-right: 1px solid $primary-color / 1.2;
  	width: 100%;
}

nav.mobile li:last-child a {
	border-right: 0;
}


nav.mobile a#pull {
	display: none;
	margin-bottom: 0;
	height: 6em;
}

nav hr.force-clear {
	margin: 0;
	padding: 0;
	height: 0;
	width: 100%;
	clear: both;
	border: none;
}

.inactive-mobile-nav {
	display: block;
  	font-size: 3em;
  	padding-left: 0.2em;


  	&:hover {
  		background-color: $ui-gray * 1.3;
  	}

  	&:active {
  		background-color: $ui-gray * 1.15;
  	}
}

.active-mobile-nav {
	display: block;
  	color: #fff;
  	background-color: $primary-color;
  	font-size: 3em;
  	padding-left: 0.2em;

  	&:hover {
  		background-color: $primary-color * 1.2;
  	}

  	&:active {
  		background-color: $primary-color / 1.2;
  	}
}

.menu-tip {
	&:before {
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 20px solid $primary-color;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      /* At time of this creation, only Fx4 doing pseduo transitions */
      -webkit-transition: opacity 1s ease;
      -moz-transition   : opacity 1s ease;
      opacity: 1;
      left: 0.65em;
      bottom: -3.2em;

    }
}

$button-size : 3.5rem; 
$transition: .3s; // increase this to see the transformations in slow-motion

@mixin line {
  display: inline-block;
  width: $button-size;
  height: $button-size/7;
  background: $primary-color;
  border-radius: $button-size/14; 
  transition: $transition;
}
 
.lines-button {
  display: inline-block;
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none !important;
  border-radius: $button-size/7;

  &:hover {
    opacity: 1;
  }
 
  &:active {
    transition: 0;
    background: rgba(0,0,0,.1);
  }
}

.lines {
   
  //create middle line
  @include line;
  position: relative; 
 
  /*create the upper and lower lines as pseudo-elements of the middle line*/
  &:before, &:after {
   
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
	-moz-transform-origin: $button-size/14 center;
	-o-transform-origin: $button-size/14 center;
	-ms-transform-origin: $button-size/14 center;
	transform-origin: $button-size/14 center;

  }
  &:before { top: $button-size/4; }
  &:after { top: -$button-size/4; }
}

.lines-button:hover {
  opacity: 1;
     
  .lines {
    &:before { top: $button-size/3.5; }
    &:after { top: -$button-size/3.5; }
  }
}

.lines-button.x.close .lines{
 
    /*hide the middle line*/
    background: transparent;
 
    /*overlay the lines by setting both their top values to 0*/
    &:before, &:after{
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		transform-origin: 50% 50%;

		top:0;
		width: $button-size;
    }
 
    // rotate the lines to form the x shape
    &:before{
		-webkit-transform: rotate3d(0,0,1,45deg);
		-moz-transform: rotate3d(0,0,1,45deg);
		-o-transform: rotate3d(0,0,1,45deg);
		-ms-transform: rotate3d(0,0,1,45deg);
		transform: rotate3d(0,0,1,45deg);
 
    }
    &:after{
		-webkit-transform: rotate3d(0,0,1,-45deg);
		-moz-transform: rotate3d(0,0,1,-45deg);
		-o-transform: rotate3d(0,0,1,-45deg);
		-ms-transform: rotate3d(0,0,1,-45deg);
		transform: rotate3d(0,0,1,-45deg);
 
    }
}
